<h1>User <%= @user.name %></h1>
<p>Here is the details of a user given its id</p>
<%= render @user %>

<div class="user__bio">
  <h2>Bio</h2>
  <p><%= @user.bio %></p>
</div>

<% @user.last_three_posts.each do |post| %>
  <%= render post %>
<% end %>

<%= link_to 'See all posts', user_posts_path(@user.id) %>
