<ul class="posts">
  <li class="post">
    <%= link_to user_post_path(post.author_id, post.id) do %>
      <div class="post__container">
        <div class="post__title"><%= post.title %></div>
        <div class="post__text"><%= post.text %></div>
        <div class="post__indicators">
          <div class="post__comments_counter">Comments: <%= post.comments_counter %></div>
          <div class="post__likes_counter">Likes: <%= post.likes_counter %></div>
        </div>
      </div>
    <% end %>
    <ul class="post__comments">
    <% if post.comments.empty? %>
      <li>No comments</li>
    <% else %>
      <% post.five_most_recent_comments.each do |comment| %>
        <%= render comment %>
      <% end %>
    <% end %>
    </ul>
  </li>
</ul>