<div class="detailed_post">
  <div class="post__container">
    <div class="post__title"><%= @post.title %> by <%= @post.author.name %></div>
    <div class="post__comments_counter">Number of Comments: <%= @post.comments_counter %></div>
    <div class="post__likes_counter">Number of Likes: <%= @post.likes_counter %></div>
  </div>
  <div class="post__text"><%= @post.text %></div>
  <%= render @comments %>
</div>
