<div class="detailed_post">
  <div class="post__header">
    <div class="post__title"><%= @post.title %> by <%= link_to @post.author.name, user_path(@post.author_id) %></div>
    <div class="post__indicators">
      <div class="post__comments_counter">Comments: <%= @post.comments_counter %></div>
      <div class="post__likes_counter">Likes: <%= @post.likes_counter %></div>
    </div>
  </div>
  <div class="post__full_text"><%= @post.text %></div>
  <%= render 'comments/form' %>
  <%= form_with url: user_post_likes_url(@post.author, @post), method: 'post' do |f| %>
    <div>
      <%= f.submit 'Like' %>
    </div>
  <% end %>
  <ul class="post__comments">
    <%= render @comments %>
  </ul>
</div>
